body{
    background-color: #EEDBCD;
}

img {
    width: 500px;
    height: auto;
  }
  h1 {
    position: absolute;
    left: 100px;
    top: 150px;
  }
  .btn {
  border-radius: 40px;
  border: 0;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
  padding: 2rem 3rem;
  text-transform: uppercase;
  white-space: nowrap;
  }